.case-study {
  h2 {
    padding: 0 0 15px;
  }
}

.final-banner {
  display: block;
  margin: 50px auto 100px;
  height: 575px;
  width: 100%;
  max-width: 1400px;
  background: pink;
}

.final-banner__patricias {
  @include full-bg('../images/work/patricias/patricias-finals-1.png');
}

.case-finals__second-row {
  padding: 100px 0;
  @media (max-width: $screen-sm) {
    padding: 50px 0;
  }
}

.case-study__nav {
  padding: 20px 0;
}

.case-study__nav-title {
  margin: 5px 0 0;
  text-transform: uppercase;
  font-size: .9rem;
}

.case-study__title {
  padding: 80px 0 0;
  h1 {
    font-size: 4rem;
  }
  @media (max-width: $screen-sm) {
    padding: 25px 0;
    text-align: center;
  }
}

.case-study__title--prh {
  margin-top: -50px;
}

.case-study-intro p {
  padding: 120px 0 0;
  text-align: center;
  @media (max-width: $screen-sm) {
    padding: 25px 0 50px;
  }
}

.case-study-summary {
  padding: 120px 0;
  @media (max-width: $screen-sm) {
    padding: 25px 0 50px;
  }
}

.case-process {
  padding: 120px 0;
  @media (max-width: $screen-sm) {
    padding: 50px 0 0;
  }
}

.case-process--rimc {
  padding: 120px 0 100px;
  @media (max-width: $screen-sm) {
    padding: 50px 0;
  }
}

.case-process img {
  padding: 30px 0 0;
  @media (max-width: $screen-sm) {
    padding: 50px 0;
  }
}

.case-results {
  @media (max-width: $screen-sm) {
    padding: 0 0 100px;
  }
}

.case-results__interac {
  padding: 100px 0 0 0;
  @media (max-width: $screen-sm) {
    padding: 0 0 100px;
  }
}

.top-img {
  @media (max-width: $screen-sm) {
    padding: 0 0 50px;
  }
}

.case-study__three-col {
  padding: 0 0 100px;
}

.case-study__nav-link {
  width: 60px;
}

.case-study__nav-link--right {
  float: right;
}

.case-study__nav-link--left {
  float: left;
}

.case-img__finals {
  padding: 0 0 50px;
}

.case-study__finals {
  padding: 0 0 120px;
  @media (max-width: $screen-sm) {
    padding: 0 0 60px;
  }
}

.case-study__finals--rimc {
  padding: 120px 0;
  @media (max-width: $screen-sm) {
    padding: 0 0 60px;
  }
}

.brand-colours {
  padding: 150px 0 0;
  @media (max-width: $screen-sm) {
    padding: 0 0 100px;
    text-align: center;
  }
}

.brand-colours--interac {
  padding: 150px 0;
  text-align: center;
  @media (max-width: $screen-sm) {
    padding: 0 0 100px;
  }
}

.color-block {
  border-radius: 255px;
  display: block;
  height: 125px;
  width: 125px;
  margin: 20px auto;
  @media (max-width: $screen-sm) {
    display: block;
    margin: 20px auto;
  }
}

.color-block__mandarin-orange {
  background: #F18B2F;
}

.color-block__fuschia {
  background: #E465ED;
}

.color-block__electric-blue {
  background: #06C5EF;
}

.color-block__purple {
  background: #5F01A3;
}

.color-block__royal-purple {
  background: #210144;
}

.color-block__balboa-mist {
  background: #D4CEBF;
}

.color-block__cream {
  background: #FDFCF6;
  border: 1px solid #D4CEBF;
}

.color-block__midnight-blue {
  background: #182028;
}

.color-block__cherry {
  background: #C82401;
}

.color-block__honey {
  background: #EC9D2F;
}

.color-block__ocre {
  background: #F0B51C;
}

.color-block__interac-charcoal {
  background: #292B31;
}

.color-block__interac-grey {
  background: #EBE9F2;
}

.case-img__dibs-2 {
  padding-right: 100px;
  @media (max-width: $screen-sm) {
    padding-right: 0;
  }
}

.case-img__dibs-4 {
  padding-left: 100px;
  @media (max-width: $screen-sm) {
    padding-left: 0;
  }
}

.img-banner {
  padding: 0 0 150px;
  @media (max-width: $screen-sm) {
    display: none;
  }
}

.case-section-one__img {
  margin-top: 120px;
}
