.contact {
  padding: 0 0 100px;
  .btn {
    float: right;
  }
}

.contact__header {
  padding: 60px 0 20px;
  p {
    max-width: 600px;
  }
}

.contact__label {
  font-family: termina, serif;
  font-weight: 600;
  margin: 15px 0 10px;
}

.contact__input {
  border: 1px solid $pink;
  font-family: 'Titillium Web', sans-serif;
  height: 40px;
  margin: 0 0 20px 0;
  padding: 5px;
  width: 100%;
}

.contact__message {
  border: 1px solid $pink;
  font-family: 'Titillium Web', sans-serif;
  height: 220px;
  margin: 0 0 10px 0;
  padding: 5px;
  resize: none;
  width: 100%;
  &:active {
    outline: $pink;
  }
}

.active-form {
  height: 100%;
  top: 0;
}

.contact-form {
  padding: 0 0 60px;
}
