.cta-banner {
  background: white;
  padding: 100px 0;
  @media (max-width: $screen-md) {
    padding: 100px 25px;
  }
  @media (max-width: $screen-xs) {
    img {
      display: none;
    }
  }
}

.cta__text {
  font-size: 4rem;
  line-height: 1;
  padding: 0 0 20px;
  @media (max-width: $screen-md) {
    font-size: 3rem;
  }
}
