.cta-banner {
  padding: 0 0 20px;
  text-align: center;
  h2 {
    color: $forest-green;
  }
  @media (max-width: $screen-xs) {
    img {
      display: none;
    }
  }
}

.cta-banner__inner {
  //background: url('../images/cta-pattern.svg') center center;
  background: $forest-green;
  h2 {
    color: $beige;
  }
}

.cta__text {
  font-size: 4rem;
  line-height: 1;
  padding: 0 0 20px;
  @media (max-width: $screen-md) {
    font-size: 3rem;
  }
}
