/*---------- Footer ----------*/
footer {
  position: relative;
  padding: 0 50px 10px;
  @media only screen and (max-width: $screen-sm) {
    text-align: center;
  }
  h2 {
    font-size: 2rem;
  }
  p {
    margin-left: -10px;
  }
  a {
    color: $forest-green;
    display: block;
    transition: 0.5s ease;
    &:hover {
      color: darken($brown, 5%);
      text-decoration: none;
    }
  }
}

.contact-footer {
  padding: 120px 0 0;
}

.footer__top-btn {
  left: 25%;
  @media (max-width: $screen-sm) {
    left: auto;
  }
}

.footer-link {
  float: right;
  margin-left: 50px;
  @media only screen and (max-width: $screen-sm) {
    float: none;
    text-align: center;
    margin: 25px 0;
  }
}

.footer-social {
  display: inline-block;
  float: right;
  @media only screen and (max-width: $screen-sm) {
    float: none;
  }
}

.footer-social-link{
  display: inline-block;
  font-size: 24px;
  padding: 0 10px;
  &:hover {
    background: none;
  }
}

.footer-cta__link {
  font-family: termina, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: none;
  font-size: 2rem;
  color: $brown;
  &:hover {
    background: none;
  }
}

.footer-content {
  padding: 0 0 60px;
}

.footer-cta {
  margin-left: -15px;
}
