/*---------- Footer ----------*/
footer {
  background: $forest-green;
  position: relative;
  padding: 100px 50px 20px;
  @media only screen and (max-width: $screen-sm-max) {
    text-align: center;
  }
  h2 {
    font-size: 2rem;
    font-weight: 500;
  }
  h2, p {
    color: $beige;
  }
  a {
    color: $beige;
    display: block;
    transition: 0.5s ease;
    &:hover {
      color: $pink;
      text-decoration: none;
    }
  }
}

.footer__top-btn {
  left: 25%;
  @media (max-width: $screen-sm) {
    left: auto;
  }
}

.footer-link {
  float: right;
  margin-left: 50px;
  @media only screen and (max-width: $screen-sm-max) {
    float: none;
    text-align: center;
    margin: 25px 0;
  }
}

.footer-social {
  display: inline-block;
  float: right;
  @media only screen and (max-width: $screen-sm-max) {
    float: none;
  }
}

.footer-social-link{
  display: inline-block;
  font-size: 24px;
  padding: 0 10px;
  &:hover {
    background: none;
  }
}

.footer-cta__link {
  font-family: 'Vollkorn', serif;
  text-transform: none;
  font-size: 2rem;
  font-weight: 500;
  color: $pink;
  &:hover {
    background: none;
  }
}

.footer-content {
  padding: 0 0 60px;
}

.footer-cta {
  margin-left: -15px;
}
