/*----------Homepage Hero----------*/
.home-hero {
  max-width: 1200px !important;
  display: block;
  margin: 0 auto;
  .va-center {
    @media (max-width: $screen-sm) {
      position: relative;
      top: auto;
      transform: none;
    }
  }
}

.home-hero__text {
  background: $forest-green;
  border: 2px solid white;
  h1, p {
    color: $beige;
  }
}

.home-hero__text--inner {
  border: 2px solid $beige;
  padding: 50px 0 30px;
  margin: 30px 20px;
  text-align: center;
}

.home-hero__arrow {
  max-width: 30px;
  padding: 15px 0;
}

.brand-img {
  width: 110%;
  margin-left: -5%;
  @media (max-width: $screen-md) {
    width: 120%;
    margin-left: -10%;
  }
  @media (max-width: $screen-sm) {
    width: 180%;
    margin-left: -40%;
    margin-top: 30px;
  }
}

.about-hero,
.services-hero {
  background: $forest-green;
  margin: 20px 50px 0;
  h1, p {
    color: $beige;
  }
}

.about-hero {
  img {
    position: absolute;
    right: 0;
    bottom: -155px;
    @media (max-width: $screen-sm) {
      display: none;
    }
  }
}

.services-hero {
  p {
    padding: 0 0 40px;
  }
  img {
    display: block;
    margin: 0 auto;
    max-width: 90%;
  }
  .p-lg {
    text-align: left;
  }
  @media (max-width: $screen-sm) {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.services-hero__title {
  text-align: center;
}
