/*----------Homepage Hero----------*/
.home-hero--mob {
  display: none;
  @media (max-width: $screen-sm) {
    display: block;
  }
}

.home-hero {
  background: url('../images/brand-dogs.svg') center center;
  background-repeat: no-repeat;
  padding: 130px 0;
  @media (max-width: $screen-sm) {
    display: none;
  }
}

.hero-text {
  background: $forest-green;
  max-width: 600px;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.hero-text-inner {
  border: 2px solid $beige;
  padding: 60px 40px 40px;
}

.hero-text h1 {
  color: $beige;
}

.home-hero__text-mob {
  padding: 60px 0 0;
  text-align: center;
}

.home-hero__text {
  background: $forest-green;
  border: 2px solid white;
  h1, p {
    color: $beige;
  }
}

.home-hero__text--inner {
  border: 2px solid $beige;
  padding: 50px 0 30px;
  margin: 30px 20px;
  text-align: center;
}

.home-hero__arrow {
  max-width: 30px;
  padding: 15px 0;
}

.brand-img {
  width: 110%;
  margin-left: -5%;
  @media (max-width: $screen-md) {
    width: 120%;
    margin-left: -10%;
    padding: 30px 0;
    max-height: 500px;
  }
  @media (max-width: $screen-sm) {
    display: none;
  }
}

.brand-img-mob {
  display: none;
  @media (max-width: $screen-sm) {
    display: block;
    margin: 25px 0 0;
    max-height: 300px;
    width: 100%;
  }
}

.about-hero {
  padding: 100px 0 0;
  @media (max-width: $screen-md) {
    padding: 60px 0 0;
  }
  h1 {
    line-height: 1.4;
  }
  img {
    position: absolute;
    right: 0;
    bottom: -155px;
    @media (max-width: $screen-sm) {
      display: none;
    }
  }
}

.services-hero {
  background: $forest-green;
  h1, h2, h3 {
    color: $beige;
  }
  img {
    display: block;
    margin: 20px auto 0;
    max-width: 40px;
  }
  .p-lg {
    text-align: left;
  }
  @media (max-width: $screen-sm) {
    margin: 20px 0 0;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.services-hero__title {
  text-align: center;
}

.case-study-hero {
  @media (max-width: $screen-sm) {
    padding: 20px 0;
  }
  img {
    @media (max-width: $screen-sm) {
      display: none;
    }
  }
}
