.logo {
  padding: 20px 0;
  width: 125px;
  @media (max-width: $screen-md) {
    display: block;
    margin: 0 auto;
    padding: 20px 0 0;
    width: 160px;
  }
}

.logo-link {
  width: 150px;
  &:hover {
    background: none;
  }
}

.nav-link {
  display: inline-block;
  margin: 0 0 0 45px;
  padding: .5rem .25rem;
  @media (max-width: $screen-md) {
    margin: 0;
    padding: .5rem;
  }
}

.nav-link__container {
  float: right;
  padding: 20px 0;
  @media (max-width: $screen-sm) {
    float: none;
    text-align: center;
  }
}


.form-inline {
  @media (max-width: $screen-md) {
    display: none;
  }
}
