.process {
  background: white;
  margin: 0 50px 0;
  padding: 100px 0;
}

.process__step {
  padding: 0 25px;
}

.process__img {
  bottom: 0;
  display: block;
  margin: 0 auto;
  max-width: 300px;
  position: absolute;
  width: 100%;
}

.process__img-container {
  height: 250px;
  margin: 0 0 50px 0;
  position: relative;
}

.process__step-title, .process__step-info {
  text-align: center;
}
