html {
  font-size: 16px;
  scroll-behavior: smooth;
  @media (max-width: $screen-sm) {
    font-size: 14px;
  }
}

body {
  background: $beige !important;
  overflow-x: hidden;
}

h1, h2, h3, h4 {
  color: $grey;
  font-family: 'Vollkorn', serif;
  line-height: 1.1;
}

h1 {
  font-size: 3.625rem;
}

h2 {
  font-size: 2.8rem;
  line-height: 1.3;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

p {
  color: $grey;
  font-family: 'Titillium Web', sans-serif;
  line-height: 1.5;
}

a {
  color: $grey;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  text-transform: uppercase;
  transition: .5s ease;

  &:hover {
    color: $grey;
    background: url(../images/icons/wave.svg);
    background-repeat: repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto auto;
    background-repeat: repeat-x;
    background-size: 17px 16px;
    background-position: 5px 22px;
    text-decoration: none;
    animation: move 7s linear infinite;
    -webkit-animation: move 7s linear infinite;
    animation-play-state: running;

    @-webkit-keyframes move {
      from {
        background-position: 2px 19px;
      }
      to {
        background-position: 500px 19px;
      }
    }

    @keyframe move {
      from {
        background-position: 2px 19px;
      }
      to {
        background-position: 500px 19px;
      }
    }
  }
}

.p-lg {
  color: $grey;
  font-family: 'Vollkorn', serif;
  font-size: 3.25rem;
  line-height: 1.4;
}

.p-lg-title {
  font-size: 4.5rem;
  font-family: 'Vollkorn', serif;
  left: 10%;
  @media (max-width: $screen-sm) {
    font-size: 3.5rem;
    left: 0;
  }
}

.subtitle {
  color: $grey;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  margin: 0 0 30px;
}

.lead {
  font-size: 1.125rem;
}

.btn {
  border: none;
  border-radius: 120px;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  padding: 15px 20px;
  text-transform: uppercase;
}

.btn-primary {
  background: $grey;
  color: white;
  &:hover {
    background: darken($grey, 5%);
  }
}

.btn-secondary {
  background: $brown;
  color: white;
  &:hover {
    background: darken($brown, 5%);
  }
}
