html {
  font-size: 16px;
  scroll-behavior: smooth;
  @media (max-width: $screen-sm) {
    font-size: 14px;
  }
}

body {
  background: $beige !important;
  overflow-x: hidden;
  width: 101%;
}

br {
  @media (max-width: $screen-md) {
    display: none;
  }
}

h1, h2, h3, h4 {
  color: $grey;
  font-family: freight-big-pro, serif;
  font-weight: 600;
  font-style: normal;
}

h1 {
  font-size: 6.65rem;
  padding: 0 0 10px 0;
  line-height: 1;
  @media (max-width: $screen-md) {
    font-size: 4rem;
  }
}

h2 {
  font-size: 4rem;
  line-height: 1;
  @media (max-width: $screen-md) {
    font-size: 2.5rem;
  }
}

h3 {
  font-size: 2.4rem;
  @media (max-width: $screen-md) {
    font-size: 2rem;
  }
}

h4 {
  font-size: 1.5rem;
}

p {
  color: $grey;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
}

a {
  color: $grey;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  text-transform: uppercase;
  transition: .5s ease;
  &:hover {
    color: $grey;
    background: url(../images/icons/wave.svg);
    background-repeat: repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto auto;
    background-repeat: repeat-x;
    background-size: 17px 16px;
    background-position: 5px 22px;
    text-decoration: none;
    animation: move 7s linear infinite;
    -webkit-animation: move 7s linear infinite;
    animation-play-state: running;

    @-webkit-keyframes move {
      from {
        background-position: 2px 19px;
      }
      to {
        background-position: 500px 19px;
      }
    }

    @keyframe move {
      from {
        background-position: 2px 19px;
      }
      to {
        background-position: 500px 19px;
      }
    }
  }
}

.p-lg {
  color: $grey;
  font-family: freight-big-pro, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 3rem;
  line-height: 1.2;
  text-align: center;
  @media (max-width: $screen-md) {
    font-size: 2rem;
  }
}

.p-sm {
  font-size: 1rem;
}

.subtitle {
  color: $grey;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  margin: 0 0 30px;
}

.lead {
  font-size: 1.125rem;
}

.btn {
  border: none;
  border-radius: 120px;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  padding: 15px 20px;
  text-transform: none;
}

.btn-primary {
  background: $grey;
  color: white;
  &:hover {
    background: darken($grey, 5%);
  }
}

.btn-secondary {
  background: $brown;
  color: white;
  &:hover {
    background: darken($brown, 5%);
  }
}

.va-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $beige;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $pink;
}
