.experiences {
  h2 {
    text-align: center;
    padding: 0 0 60px;
  }
  h3 {
    padding: 0 0 10px;
  }
  h4 {
    padding: 40px 0 10px;
  }
  .experiences-middle {
    padding: 80px 0;
  }
  h3, h4, p, ul li {
    @media (max-width: $screen-sm) {
      text-align: center;
      list-style-type: none;
    }
  }
  ul {
    @media (max-width: $screen-sm) {
      padding: 0;
    }
    li {
      @media (max-width: $screen-sm) {
        margin: 0 0 10px;
      }
    }
  }
  img {
    @media (max-width: $screen-sm) {
      display: block;
      margin: 0 auto 40px;
      max-width: 300px;
    }
  }
}

.work-preview--services {
  h2 {
    padding: 0 0 60px;
  }
  @media (max-width: $screen-sm) {
    display: none;
  }
}

.work-preview__items {
  z-index: 2;
}

.work-preview__banner {
  background: $forest-green;
  height: 400px;
  width: 100%;
  z-index: 1;
  margin-top: -300px;
}

.faq {
  h2 {
    padding: 0 0 60px;
  }
  @media (max-width: $screen-sm) {
    background: $forest-green;
    margin: 0 0 40px;
    h2, h4, p {
      color: $beige;
    }
  }
}

.faq-card {
  border-bottom: 2px solid $beige-accent;
}

.card-header {
  background: none;
  border: none;
  padding: 20px 0;
  position: relative;
  h4 {
    @media (max-width: $screen-sm) {
      max-width: 90%;
    }
  }
}

.accordion .card-header:after,
.accordion .card-header.collapsed:after {
  font-family: termina;
  position: absolute;
  right: 0;
  top: 10px;
  font-size: 2rem;
  font-family: termina, sans-serif;
  color: $yellow;
}

.accordion .card-header:after {
    content: "-";
}
.accordion .card-header.collapsed:after {
    content: "+";
}
