.story__title {
  padding: 100px 0 50px;
}

.services {
  padding: 150px 0;
}

.services__row {
  padding: 25px 0;
}

.story__block-1 {
  padding: 230px 0 0;
}

.story__img-1 {
  padding: 0 0 100px;
}

.title-block {
  position: relative;
}

.title-block__text {
  position: absolute;
  top: 75px;
  left: 120px;
}
