.company-title {
  padding: 150px 0 100px;
}

.story {
  padding: 100px 0;
}

.story__middle-row {
  padding: 70px 0 100px;
  @media (max-width: $screen-sm) {
    padding: 70px 0 0;
  }
}

.services {
  background: white;
  margin: 0 50px 100px;
  padding: 100px 0;
}

.services__row {
  padding: 25px 0;
}

.services__img {
  display: block;
  margin: 0 auto;
  max-width: 200px;
  @media (max-width: $screen-sm) {
    display: block;
    margin: 50px 0;
    max-width: 100px;
  }
}

.services__title-img {
  max-width: 100px;
}

.title-block {
  margin: 0 0 75px -80px;
  position: relative;
}

.title-block__text {
  position: absolute;
  top: 35px;
  left: 80px;
}

.story-title {
  padding: 40px 0 20px;
}
