.work-preview {
  background: $beige-accent;
  padding: 120px;
  @media (max-width: $screen-md) {
    padding: 50px 0;
  }
}

.work-preview__title {
  padding: 0 0 100px;
  @media (max-width: $screen-sm) {
    padding: 0;
  }
}

.work-preview__one {
  padding: 100px 0 0;
  @media (max-width: $screen-sm) {
    padding: 0;
  }
}

.work-preview__four {
  margin: -400px 0 0;
  @media (max-width: $screen-md) {
    margin: -300px 0 0;
  }
  @media (max-width: $screen-sm) {
    margin: 0;
  }
}

.portfolio__title {
  padding: 60px 0 0;
}

.portfolio__row {
  padding: 60px 0;
  @media (max-width: $screen-sm) {
    padding: 0;
  }
}

.portfolio__piece-title {
  padding: 30px 0 0 0;
  transition: .5s ease;
}

.portfolio-tab__img {
  float: left;
  max-height: 20px;
  max-width: 15px;
}

.portfolio-tab__link {
  padding: 0 0 0 10px;
}

.portfolio-tab__item {
  padding: 10px 0 10px 20px;
}

.portfolio-tabs {
  padding: 50px 0 0;
  position: fixed;
  width: 100%;
  @media (max-width: $screen-sm) {
    display: none;
  }
}

.portfolio-tab__title {
  padding: 0 0 15px;
}

.portfolio-piece {
  cursor: pointer;
  text-transform: none;
  &:hover {
    h3, p {
      color: $brown;
    }
  }
  &:focus {
    h3 {
      box-shadow: 5px 5px $pink;
    }
  }
  @media (max-width: $screen-sm) {
    display: block;
    padding: 0 0 60px;
  }
}

.portfolio__row--two {
  margin: -350px 0 0 0;
  @media (max-width: $screen-sm) {
    margin: 0;
  }
}

.portfolio__row--three {
  margin-top: -300px;
  @media (max-width: $screen-sm) {
    margin: 0;
  }
}

.portfolio-piece__block-final {
  margin-top: -125px;
  @media (max-width: $screen-sm) {
    margin-top: 0;
  }
}

.work__hero {
  margin: 100px 0 -100px;
}

.hero-section {
  width: 100%;
  height: 70rem;
  overflow: hidden;
  position: relative;
}

.hero-section img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
}

.case-info {
  .case-process {
    img {
      padding: 0;
    }
  }
}
